# Build / IDE
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.idea/
.vscode/
*.iml
*.lock

# Gradle / Kotlin caches & crash dumps
.gradle/
android/.gradle/
android/.kotlin/
*.log
hs_err_pid*.log
replay_pid*.log

# Generated
*.g.dart
*.freezed.dart

# Env / secrets
.env
.env.example
android/key.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Firebase
firebase_options.dart

# OS
.DS_Store
Thumbs.db
